.stretch {
	align-content: stretch;
}
/* Flex Container */
.container {
	height: 300px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	flex-wrap: wrap;
    background-color: #23232e;
    color: white;
    height: 100%;
}
/* Flex Item */
.item {
    margin: 20px;
	flex: 1;
	padding: 0 10px;
	text-align: center;
    font-size: 15px;
    
}

.item1{
font-size: 15px;

}
.item3{
font-size: 16px;

}
.item3p{
margin: 20px;
}
.footer{
    
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #23232e;
    padding: 10px;
    font-size: 15px;
    border-radius: 50px;
}



.imgitem1{
    display: center;
    height: 90px;
    width: 90px;
    border-radius: 50px;

}



.hrefitem1{
opacity: 0.8;

}






.footer-payment_list{
-webkit-text-size-adjust: 100%;
line-height: 1.5;
-webkit-tap-highlight-color: transparent;
font-family: montserrat,sans-serif;
font-size: .8rem;
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
font-weight: bolder;
color: #ffffff;
box-sizing: border-box;
padding: 0;
list-style: none;
fill: #ffffff;
align-items: center;
flex-wrap: wrap;
}