/* Estilos para telas menores */
@media only screen and (max-width: 600px) {
  .logo {
    background-image: url(Consultoriadeinformatica.png);
    background-repeat: no-repeat;
    background-color: white;
    height: 140px;
    background-position: center;
    background-size: contain;
  }

  nav {
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #c2c0c038;
    height: auto; /* Remova a altura fixa */
    transition: top 0.3s;
    justify-content: left;
  }

  .nav-list {
    font-size: 14px;
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Permitir que os itens quebrem em várias linhas */
    padding: 0;
  }
  
  .nav-list li {
    border-bottom:solid 1px #23232e;
    letter-spacing: 3px;
    margin-left: 16px; /* Espaço entre as opções */
  }

  :target:before {
    content: "";
    display: block;
    height: 50px; /* Ajuste conforme necessário */
    margin: -50px 0 0; /* Ajuste conforme necessário */
  }
}

/* Estilos para telas maiores */
@media only screen and (min-width: 601px) {
.logo {  background-image: url(Consultoriadeinformatica.png);
    background-repeat: no-repeat;
    background-color: white;
    height: 140px;
    background-position: center;

  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: "Red Hat Display", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #c2c0c038;
    height: 8vh;
    width: 100%;
    top: 0;
    transition: top 0.3s;
    justify-content: left;
  }
  
  .nav-list {
   font-size: 14px;
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }

  :target:before {
  content: "";
  display: block;
  height: 50px; /* Ajuste conforme necessário */
  margin: -50px 0 0; /* Ajuste conforme necessário */
}
}

