
.containerr {
	display: block; /* Define como bloco por padrão */
  }
  
  /* Media Query para telas maiores que, por exemplo, 768px */
  @media screen and (min-width: 768px) {
	.containerr {
	  display: flex; /* Define como flexível em telas maiores */
	  /* Adicione aqui suas propriedades flexíveis */
	}
  }
  
  .containerr{

margin-bottom: 30px;

  }

/* Flex Item */
.item {
    margin: 20px;
	flex: 1;
	padding: 0 10px;
	text-align: center;
    font-size: 15px;
}

.image1{
width: 100%;

}