
.containerr {
	display: block; /* Define como bloco por padrão */
	margin-bottom: 30px;
  }
  
  /* Media Query para telas maiores que, por exemplo, 768px */
  @media screen and (min-width: 768px) {
	.containerr {
	  display: flex; /* Define como flexível em telas maiores */

	}
  }
  
  .containerr{

margin-bottom: 30px;

  }

/* Flex Item */
.item { /* Caixa que comporta a image1*/
    margin: 20px;
	flex: 1;
	padding: 0 10px;
	text-align: center;
width: 89%;
	
}

.image1{/* Imagem que fica dentro da caixa item, qualquer alteração dessa imagem tem que ser feito aqui.*/
width: 100%;
border-radius: 3%;
}