/* Universal Reset */
* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
}

/* Link Styles */
a {
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

/* Mobile Menu Styles */
.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  margin: 8px;
  transition: 0.3s;
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Modal Styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  border: #000000 solid 1px;
}

/* Additional Styles */
.imgwhats {
  width: 40px;
  height: 40px;
}

.email {
  color: white;
}

/* Media Query for Screens Larger than 1280px by 800px */
@media screen and (min-width: 1280px) and (min-height: 800px) {
  .modal-content {
    width: 60%;
  }
}


/* Estilos para dispositivos móveis  assim a imagem fica a baixo do texto no mobile*/
@media only screen and (max-width: 600px) {
  .pagina, .pagina1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .maintxt, .maintxt1 {
    order: 1; /* Altera a ordem do texto */
  }
  
  .mainimg, .mainimg1 {
    order: 2; /* Altera a ordem da imagem */
    margin-bottom: 20px; /* Adiciona margem inferior */
  }
}

.maintxt {
  font-size: 16px; /* Tamanho base da fonte para telas menores */
}

/* Consulta de mídia para telas maiores */
@media screen and (min-width: 1080px) {
  .maintxt {
      font-size: 25px; /* Ajuste o tamanho da fonte para telas maiores */
  }
  .maintxt1 {
    font-size: 25px; /* Ajuste o tamanho da fonte para telas maiores */
}
}

/* Consulta de mídia para telas ainda maiores */
@media screen and (min-width: 720px) {
  .maintxt {
      font-size: 16px; /* Ajuste o tamanho da fonte para telas ainda maiores */
  }
  .maintxt1 {
    font-size: 16px; /* Ajuste o tamanho da fonte para telas maiores */
}
}

