
        .pagmanutencao{
            display: flex;
            width: 89%;
            margin-top: 7vh;
          height: 190vh;
            justify-content: center;
        }


        .textotitulo{
          
          font-family: "Dancing Script", cursive;
          font-optical-sizing: auto;
   font-style: normal;
        }


        .textotituloh3{
display: flex;
justify-content: center;
  font-family: "IBM Plex Serif", serif;
  font-style: normal;
 }

 
 .textotituloh1{
          font-family: "Dancing Script", cursive;
          font-optical-sizing: auto;
   font-style: normal;
          display: flex;
          justify-content: center;
 }

 .textomanu{
    font-family: "IBM Plex Serif", serif;
    font-style: normal;

 }