button{
    color:rgb(0, 0, 0);
    border-radius:10px;
    border:none;
}
button:hover{
    text-decoration: underline;
    color:rgb(37, 37, 37);
}
button, div{
}

.perfil{
    margin-top: 10px;
    font-weight:400;
    font-size:18px;
    color:rgb(190, 29, 29);  
}